// --------------------------------------------------------------
//				         Variables
// --------------------------------------------------------------

$page_width: 210mm !important;
$page_height: 297mm !important;

$color_date:#595959;
$color_dark_text:#000;
$color_white_text:#fff;
$color_main: #262626;//#4e377a;
$color_secondary: #6b6b6b ;//#4e377a;

$theme-colors: (
  "primary": $color_main, 
);

$part_1_width: 230px;
$part_2_width: 793.7px - $part_1_width;
$space_small: 10mm;
$space_big: 5mm;
$padding_left_panel:7mm;
$padding_right_panel:5mm;

$date_width: 19%;

$font_title: Roboto-Bold;
$size_title: 5mm;
$font_text: Roboto-Light;
$size_text: 3.8mm;
$line_height_text: 5mm;
$size_date: 3.7mm;
// --------------------------------------------------------------
//				    Stuff for printing the page
// --------------------------------------------------------------


@media print {
	body {-webkit-print-color-adjust: exact;}
	@page { 
		zoom: 150%;
		size: $page_width $page_height;
		margin: 0mm; 
		padding: 0mm;
	}
}

// --------------------------------------------------------------
//				Initial value for A4 dimensions
// --------------------------------------------------------------

.part_1{
	width: $part_1_width;
	padding: $padding_left_panel 1mm $padding_left_panel $padding_left_panel;
	background-color: $color_main;
	@extend .h-100;
}

.part_2{
	width: $part_2_width;
	padding:$padding_right_panel;
	@extend .h-100;
}

body { 
	//box-sizing: border-box;
	//border-bottom: 1px solid black;
	//border-right: 1px solid black;
	zoom: 212%;
	height: $page_height ; 
	width:$page_width; 
	margin:0; 
}

h1 {
	color:red; 
	font-size: 13px;
}

// --------------------------------------------------------------
//						Personnal info
// --------------------------------------------------------------

.name {
	font-family: 'Roboto-Bold';
	letter-spacing: 0.10mm;
	font-size: 8.5mm;
	line-height: 9mm;
	color: $color_white_text;
}

.my_title {
	padding-top: 3mm;
	font-family: 'Roboto-Bold'; 
	font-size: 5mm;
	line-height: 6mm;
}

.small_info {
	font-family: 'Roboto-Light';
	font-size: $size_text;
	line-height: 5mm;
	color: $color_white_text;
}

.small_info_space {
	margin-top: 5mm;
}

#profil_picture {
	margin-top:3mm;
	width:90%;
	height: auto;
	border-radius: 1mm;
}

// --------------------------------------------------------------
//						Small component
// --------------------------------------------------------------

.small_component_holder{ 
	margin-top: $space_small;
	color: $color_white_text;
} 

.small_c_title{
	font-family: $font_title;
	text-transform: uppercase; 
	color: $color_white_text;
} 

.small_c_content, .small_c_array, .small_c_list{
	font-size: $size_text;
	font-family: $font_text;
	line-height: 5.1mm;
}

// --------------------------------------------------------------
//						Big component
// --------------------------------------------------------------
.big_component_holder{
	margin-bottom: $space_big;
}

.big_c_title{
	color:$color_main;
	font-family: $font_title;
	text-transform: uppercase;
	font-size: $size_title;
}

.big_c_elements_holder{
	border-top: 1px solid $color_main;
}

.big_c_element{
	display:flex;
	margin-top: 2mm;
}

.big_el_school_name{
	display:flex;
	justify-content: space-between;
}

.big_el_school_explanation{
	align-self: right;
}


.big_el_school_info{
	font-style: italic;
	color:$color_secondary;
	display:flex;
	justify-content: space-between;
	padding-bottom: 3px;
}

.big_el_school_rank{
	align-self: right;
}


.big_el_reason
{	
	font-style: italic;
	color:$color_secondary;
	padding-bottom: 2px;
}

.big_c_el_list ul{
	padding-left:20px; 
}

.big_c_el_list ul li{
	padding-bottom:2px; 
}


.big_c_el_date{
	box-sizing: border-box;
	padding-right: 2mm;
	width: $date_width;
	font-family: Roboto-Light; 
	font-size: $size_date;
	color: $color_date;
}

.big_c_el_text{
	width: 100-$date_width;
	font-family: $font_text;
	font-size: $size_text;
	line-height: $line_height_text;
	color: $color_dark_text;
}

.icon_big_c{
	margin-right: 2mm;
}

.italique{
	font-style: italic;
}
.smaller_item{
	font-size: 3.35mm;
	color:$color_secondary;
}
// --------------------------------------------------------------
//						Objectif
// --------------------------------------------------------------

.objectif_title {
	color: $color_main;
	text-transform: uppercase;
	font-family: $font_title;
	font-size: 7mm;
}

.objectif_text {
	font-family: $font_text;
	font-size: 4mm;
	color: $color_dark_text;
	line-height: 5mm;
}

// --------------------------------------------------------------
//						Custom class
// --------------------------------------------------------------

.min-100 {
	min-height: 100%;
}

.hidden { 
	display: none; 
}

ul{ 
	margin-bottom: 0px; 
}